body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #cc00ff; 
    font-size: 24px;
}

main {
    background-color: #0ceee3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #ff69b4; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493; 

a {
    color: white;
    text-decoration: none;
}

.respuesta {
    margin-top: 20px;
    padding: 10px;
    background-color: #e6e6fa; 
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    text-align: center;
}}
