
body {
    font-family: Arial, sans-serif;
    background-color: #feffff; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    background-color: #e37406;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #45a049; 
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.actions button {
    background-color: hsl(0, 0%, 93%);
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.actions button:hover {
    background-color: #008cff; 
}

.respuesta {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
