
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.header {
    background-color: #f8f8f8;
    color: #19ff4b;
    padding: 20px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.main {
    background-color: #03ff25;
    padding: 20px;
    border: 1px solid #4400ff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 0, 234, 0.2);
    width: 400px;
}


.section {
    padding: 30px;
}


.input-group {
    margin-bottom: 30px;
}

.input-group p {
    margin-bottom: 10px;
}

.input-group input[type="number"] {
    padding: 10px;
    border: 1px solid #ff00ea;
    border-radius: 5px;
    width: 100%;
}


.button-group {
    margin-top: 30px;
    text-align: center;
}

.button-group button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFC107;
    color: #fff;
    cursor: pointer;
}

.button-group button[type="button"]:hover {
    background-color: #FFA07A;
}


.respuesta {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
}